.experience-content {
    font-family: -apple-system, BlinkMacSystemFont, poppins, sans-serif;
    color: "#232129";
}

.experience-content > ul {
    list-style-type: circle;
    padding-left: 50px;

    @media screen and (max-width: 768px) {
        padding-left: 30px;
    }
}

.experience-content > ul > li {
    font-size: 1rem;
    line-height: 1.6;

    @media screen and (max-width: 768px) {
        font-size: 0.9rem;
    }
}
