.typography-h1 {
    font-size: 2.986rem;
    line-height: 1.2;
}
.typography-h2 {
    font-size: 2.488rem;
    line-height: 1.3;
}
.typography-h3 {
    font-size: 2.074rem;
    line-height: 1.35;
}
.typography-h4 {
    font-size: 1.728rem;
    line-height: 1.4;
}
.typography-h5 {
    font-size: 1.44rem;
    line-height: 1.5;
}
.typography-h6 {
    font-size: 1.2rem;
    line-height: 1.6;
}
.typography-p {
    font-size: 1rem;
    line-height: 1.6;
}

.typography-h1,
.typography-h2,
.typography-h3,
.typography-h4,
.typography-h5,
.typography-h6,
.typography-p {
    font-family: -apple-system, Roboto, sans-serif, serif;
    color: "#232129";
}

@media (max-width: 768px) {
    .typography-h1 {
        font-size: 2.2rem;
    }
    .typography-h2 {
        font-size: 1.8rem;
    }
    .typography-h3 {
        font-size: 1.6rem;
    }
    .typography-h4 {
        font-size: 1.4rem;
    }
    .typography-h5 {
        font-size: 1.2rem;
    }
    .typography-h6 {
        font-size: 1rem;
    }
    .typography-p {
        font-size: 0.9rem;
    }

    .typography-h1,
    .typography-h2,
    .typography-h3,
    .typography-h4,
    .typography-h5,
    .typography-h6,
    .typography-p {
        line-height: 1.4;
    }
}
