.typography-h1 {
    font-size: 3.052rem;
}
.typography-h2 {
    font-size: 2.441rem;
}
.typography-h3 {
    font-size: 1.953rem;
}
.typography-h4 {
    font-size: 1.563rem;
}
.typography-p {
    font-size: 1rem;
}

.typography-h1,
.typography-h2,
.typography-h3,
.typography-h4,
.typography-p {
    font-family: -apple-system, Roboto, sans-serif, serif;
    color: "#232129";
}
